{% extends 'base.html.twig' %}

{% block title %}Hello LearningController!{% endblock %}

{% block body %}

    <h1>Hello, its me {{name}}! </h1>
    <a href="{{path('showMyName')}}"> Home</a>
    
{% endblock %}